body {
    background-image: url("../img/preview3.jpg");
}

canvas {
    background-image: url("../img/preview9.jpg");

}

.block {
    width: 100px;
    height: 100px;
    background-color: blue;
    opacity: 0;
}


#container {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
}
