body {
    background-image: url("../img/preview3.jpg");
}

canvas {
    background-image: url("../img/starfiel.gif");
    position:absolute;

}

.block {
    width: 100px;
    background-color: ghostwhite;
    opacity: .50;
    text-align: center;
}

body {
    overflow: hidden;
}


#container {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    
    overflow: hidden;
}

#menu {
    width: 400px;
    height: 400px;
    background: red;
    position: absolute;
}