@font-face { font-family: yooo; src: url('AGENCYR.TTF'); } 

    body {
        background-image: url("../img/preview3.jpg");
        font-family: yooo, Arial, sans-serif;
        overflow: hidden;
        color: black;
    }

    canvas {
        background-image: url("../img/starfiel.gif");
        position:absolute;

    }

    .go-back {
        position: relative;
        width: 50%;
        margin: auto;
        left: 5%;
        float: left;
        font-size: 3em;
    }

    .resume {
        position: relative;
        width: 45%;
        margin: auto;
        float: left;
        text-align: right;
        font-size: 3em;
    }

    .grid-block {
        margin-left: 4%;
        margin-top: 4%;
        width: 44%;
        height: 44%;
        position: relative;
        float: left;
        font-size: 3em;
        font-weight: bold;
        color: white;
    }

    .grid-block:active {
        width: 41%;
        height: 41%;
        margin-left: 6%;
        margin-top: 7%;
    }

    .grid-block > p {
        text-align: center;
        font-weight: bolder;
    }

    .grid-block > p > img {
        height: 40%;
        width: 40%;
        position: relative;
    }

    .green-block {
        background-color: green;
    }

    .green-block:active {
        background-color: red;
    }
    .orange-block {
        background-color: orange;
    }
    .orange-block:active {
        background-color: blue;
    }
    .red-block:active {
        background-color: green;
    }

    .red-block {
        background-color: yellow;
    }
    .blue-block:active {
        background-color: orange;
    }
    .blue-block {
        background-color: skyblue;
    }


    .block {
        width: 100px;
        background-color: ghostwhite;
        opacity: .50;
        text-align: center;
    }

    .stats {
        height: 100px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        position: relative;
    }

    .stats:active {
        width: 87%;
        height: 95px;
        margin-bottom: 20px;
    }

    table {
        width: 100%;
        padding: 10px;
        height: 75%;
        top: 5%;
        position: absolute;
        text-align: center;
    }

    .stats-scores {
        height: 100%;
        width: 50%;
        right: 5px;
        top: 0;
        text-align: right;
        position: absolute;
    }
    .stats-stars {
        height: 100%;
        width: 50%;
        left: 5px;
        top: 0;
        text-align: left;
        position: absolute;
    }

    .basic {
        width: 50%;
        height: 50%;
    }

    #container {
        text-align: center;
        vertical-align: middle;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    #done {
        width: 100px;
        background-color: white;
    }

    #menu {
        font-family: yooo, Arial, sans-serif;
        width: 100px;
        background-color: rgba(255,255,255,0.75);
        position: absolute;
    }

    #level {
        font-family: yooo, Arial, sans-serif;
        width: 100px;
        background-color: rgba(255,255,255,0.75);
        position: absolute;
        overflow: scroll;
    }