<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="62661ShrikeSoft.BlockShots" Version="1.0.0.2" Publisher="CN=CEA9CA9D-5842-4CD9-BBD9-A1316B79652C" />
  <Properties>
    <DisplayName>BlockShots</DisplayName>
    <PublisherDisplayName>ShrikeSoft</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="BlockShots" Logo="images/logo.png" SmallLogo="images\smalllogo.png" Description="BlockShots is a puzzle game based on SameGame and Chain Shot!.  The premise is to click on a set of same-colored blocks to clear that set.  Once the set is cleared, the blocks above fall down, creating potentially new links or chains of blocks.  This is a classic puzzle game implemented in a rich, graphical interface with fun sound effects and music.  Enjoy this game in two modes of difficulty!  All 11 levels of this game can be cleared, can YOU clear them all?  Challenge yourself!" ForegroundText="light" BackgroundColor="#000000">
        <DefaultTile ShowName="noLogos" ShortName="Block Shots" WideLogo="images/widelogo.png" />
        <SplashScreen Image="images\splashscreen.png" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
</Package>